@tailwind base;
@tailwind components;
@tailwind utilities;


#gridItem{
  border:1cm;
  border:#D6CC99;
  border-style: solid;

}

#genresScroll{
  &::-webkit-scrollbar {
    width: 10px;
    height: 9px;
  }
  
 
  &::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
  }
  
  
  &::-webkit-scrollbar-thumb {
    background: #dc2f02;
    border-radius: 10px;
  }
  
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background: rgb(255,186,8);
  background: radial-gradient(circle, rgba(255,186,8,1) 0%, rgba(220,47,2,1) 100%, rgba(255,186,8,1) 100%);
    
  }
}
#searchScroll{
  &::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
 
  &::-webkit-scrollbar-track {
    background:rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  

  &::-webkit-scrollbar-thumb {
    background: #ac463294;
    border-radius: 1px;
  }
  
  

}

#shadow:hover{
  box-shadow: -2px -3px 22px 17px rgba(130,130,130,0.4);
  -webkit-box-shadow: -2px -3px 22px 17px rgba(130,130,130,0.4);
  -moz-box-shadow: -2px -3px 22px 17px rgba(130,130,130,0.4);
}
#shadowSearchResult{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

